In [ ]:
!pip install mysql-connector-python

In [ ]:
import pandas as pd

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="qwerty123",
    database="world"
)

print(db)

In [ ]:
query = "SELECT * FROM city;"
df = pd.read_sql(query, db)
df.head()

In [ ]:
def sql_df(query):
    import mysql.connector
    import pandas as pd
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        password="qwerty123",
        database="world"
    )
    return pd.read_sql(query, db)

df = sql_df("SELECT Name, Population FROM city WHERE CountryCode='IDN';")
df.head()

## additional

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
# 1) KONEKSI KE DATABASE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="qwerty123",
    database="shop"
)
print("Connected:", db.is_connected())

In [ ]:
# 2) BUAT CURSOR (alat untuk kirim perintah SQL)
cur = db.cursor()

In [ ]:
# 3) INSERT DATA
# 3a) Insert satu baris
cur.execute(
    "INSERT INTO persons (person_id, name, address, city) VALUES (%s, %s, %s, %s)",
    (1, "Alice", "Jl. Mawar No. 10", "Jakarta")
)
db.commit()

In [ ]:
# 3b) Insert beberapa baris sekaligus (pakai executemany)
rows = [
    (2, "Budi",   "Jl. Melati No. 5",  "Bandung"),
    (3, "Chandra","Jl. Kenanga 12",    "Jakarta"),
    (4, "Dina",   "Kompleks Dahlia B2","Surabaya"),
    (5, "Eka",    "Gg. Cempaka 3",     "Jakarta"),
]
cur.executemany(
    "INSERT INTO persons (person_id, name, address, city) VALUES (%s, %s, %s, %s)",
    rows
)
db.commit()

In [ ]:
print("\n== Data tabel persons ==")
print(pd.read_sql("SELECT * FROM persons ORDER BY person_id;", db))

In [ ]:
# 4) UPDATE DATA
# 4a) Update berdasarkan person_id
cur.execute(
    "UPDATE persons SET address=%s, city=%s WHERE person_id=%s",
    ("Jl. Mawar No. 99", "Depok", 1)
)
db.commit()

In [ ]:
# 4b) Update massal: ubah semua 'Jakarta' jadi 'DKI Jakarta'
cur.execute(
    "UPDATE persons SET city=%s WHERE city=%s",
    ("DKI Jakarta", "Jakarta")
)
db.commit()

print("\n== Setelah UPDATE ==")
print(pd.read_sql("SELECT * FROM persons ORDER BY person_id;", db))

In [ ]:
# 5) DELETE DATA
# 5a) Hapus berdasarkan person_id
cur.execute("DELETE FROM persons WHERE person_id=%s", (4,))
db.commit()

In [ ]:
# 5b) Hapus berdasarkan kondisi (contoh: city = 'Bandung')
cur.execute("DELETE FROM persons WHERE city=%s", ("Bandung",))
db.commit()

In [ ]:
print("\n== Setelah DELETE ==")
print(pd.read_sql("SELECT * FROM persons ORDER BY person_id;", db))

In [ ]:
# 6) CONTOH SELECT DENGAN FILTER
print("\n== Filter city = 'DKI Jakarta' ==")
print(pd.read_sql(
    "SELECT * FROM persons WHERE city = %s ORDER BY person_id;",
    db, params=("DKI Jakarta",)
))

In [ ]:
# 7) TUTUP CURSOR & KONEKSI
cur.close()
db.close()